@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root {
    --soft-light: #E8D0BE88;
    --text-title: #FF4040;
    --text-font: 'Montserrat', 'sans-serif';
}

body {
    background-color: var(--soft-light);
    color: var(--text-title);
    font-family: var(--text-font);
}

h1 {
    font-weight: bold;
}

.githubLogo {
    width: 80px;
}

.full-screen {
    min-height: 100vh;
}
